@import url('https://fonts.googleapis.com/css?family=Cormorant+Upright');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
html{
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body{
	background-color: rgb(250, 250, 255);
}
.jumbotron{
	background-image: url("file:///C:/Users/Acer/Desktop/MD3/bildes/5.jpg") ;
	background-size: 100% ;
	background-repeat: no-repeat;
	height: 350px;
	color: rgb(168, 36, 36);
	font-family: 'Cormorant Upright', serif;
}
.navbar{
	background-color: rgba(217, 179, 255, 0.5);
}
.navbar-brand{
	font-family: 'Cormorant Upright', serif;
	font-size: 25px;
}
div .card{
	background-color: rgba(255, 255, 255, 0.25);
	margin: 0px 5px;
	border: none;
}
div .box{
	padding: 80px 50px;
	font-family: 'Cormorant Upright', serif;
	color: rgb(168, 36, 36);
}
.box2{
	margin: 80px 0px;
}
div .kontakti{
	padding-top: 80px; 
	font-family: 'Josefin Sans', sans-serif;
	
}
.container-fluid{
	background-color: rgba(230, 204, 255, 0.25);
	padding-bottom: 20px;
}
