html{
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
.title-picture{
	width: 100%;
	padding: 20px 20px;

}
.container .box{
	display: inline-block;
	width: 33%;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0px 10px;
}
.box p{
	text-align: left;
}
.box .image{
	display: block;
	margin: 0 auto;
	padding-bottom: 10px;
}

