/*
	Ja tiek izmantots bootsrap tad sis nebus nepieciesams :)

	html{
		box-sizing: border-box;
	}
	*, *:before, *:after {
		box-sizing: inherit;
	}
*/

.title-picture {
  width: 100%;
  padding: 20px 0px;
}

.col p {
  text-align: center;
}
